body{
  background-color: #DCDCDC;
}
h1{
  color: #000000;
  font-size: 32px;
  font-style: oblique; /* Estilo: normal u obliqua */
  font-weight: 300; /* Ancho: fino */
  text-align: center;
  background-color: #A9A9A9;
}
